@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  // overflow-x: hidden;
  // background-color: aqua;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Inter', sans-serif !important;
}

// fonts

@font-face {
  font-family: 'Furious';
  src: local('Furious'), url(../fonts/FuriousStyles.ttf) format('truetype');
}

.furious{
  font-family: 'Furious', sans-serif  !important;
}
.inter {
  font-family: 'Inter', sans-serif !important;
}

.leading-100 {
  line-height: 100%;
}

.leading-160 {
  line-height: 160% !important;
}
// header

img{
 width: 100% !important;
}
.headerWrapper {
  .burgerMenu {
   // display: none;
    cursor: pointer;
    @media screen and (max-width: 639px) {
      display: inline;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 3px;
      background-color: #272CC0;
      margin: 3px 0;
      transition: 0.4s;
    }
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 3px);
      transform: rotate(-45deg) translate(0px, 3px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -4px);
      transform: rotate(45deg) translate(-1px, -4px);
    }
  }

  .is-inactive {
    display: inline-flex;
  }
}

// universal
.px-universal {
  padding: 0 3%;
}

.pl-universal {
  padding-left: 3%;
}







.leading1{
  line-height: 1 !important;

}

.spin {
  animation: spin 10s linear infinite forwards;
}

.layout3Slide {
  .name{
    display: none ;
  }
  .nameS{
    display: none !important;
  }

       
  .slick-current {   
    .name {
     opacity: 1 !important;
    display: block;
    width: 200%;
   margin-left: -50%;
   white-space: nowrap;
   text-align: center;
    }
    .stars{
      display: flex
    }

  }

  .slick-slider {
    .pic {
      border: none;
    }
  }
}

.imageMarquee {
 width: 100%;
   background: url(../images/wave5.png) repeat-x 0 / 100% auto;
   animation: ani 10s linear infinite;
  //  background-position: 20px 20px;
  //  background-size: cover;
   
   
 }

 @keyframes ani {
   0% {
     background-position:0 0;
   }
   100% {
     background-position: 100vw 0;
   }
 }

 .header_rightDiv{
  background: url(../images/header_bg.png) ;
  background-position: 0 0;
  background-size: cover;
 }

 .menuItemName{
   color: #272CC0;
   font-size: 30px;
text-shadow: 0px 2px 0px #FFFFFF;
   @media screen and (min-width: 768px) {
     font-size: 54px;
     text-shadow: 2px 3px 0px #FFFFFF; 
  }

  @media screen and (min-width: 1024px) {
    font-size: 67px;
    text-shadow: 3px 4px 0px #FFFFFF; 
 }
 }